<div class="opening">
	<p>
		<span id="logo2">STUMBLR</span> is a tumblr clone/tribute to the beloved Star Wars franchise and community. Users can set up profiles, post, comment, and connect with fellow enthusiasts.
	</p>
</div>

<div class="opening">
	<%= image_tag "h.jpg", id: "slideshowpic" %>
</div>